* {
    box-sizing: border-box;
    font-size: 100%;
}

ul li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}

body {
    margin: 0;
    padding: 0;
}

/*--------------HEADER----------*/
.header {
    width: 100%;
    height: 158px;
}

.header_nav, .header_menu {
    width: 100%;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_link a {
    padding: 0 8px;
    font-size: 12px;
    font-weight: 800;
    color: black;
    opacity: 1;
}

.nav_link_one a {
    padding: 0 8px;
    font-size: 12px;
    font-weight: 800;
    color: #7e0019;
    opacity: 1;
}

.nav_link:hover {
    opacity: 0.6;
}

.header_center {
    width: 100%;
    height: 88px;
    background: #7e0019;
    padding: 12px 0;
}

.header_center_wrapper {
    width: 1300px;
    height: 59px;
    background: #7e0019;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.line {
    width: 24px;
    height: 4px;
    background: white;
    margin-bottom: 2px;
}

.wrapper_menu {
    display: flex;
}

.wrapper_menu_text a {
    padding: 2px 12px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    color: white;
}

.intro_wrapper {
    color: white;
}

.intro_wrapper_title a {
    font-size: 35px;
    color: white;
    font-weight: 600;
}

.intro_wrapper_text {
    font-size: 11px;
}

.pereclad {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pereclad_intro {
    margin-right: 10px;
}

.btn_one {
    width: 77px;
    height: 30px;
    background: red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    border-radius: 20px;
    font-size: 13px;
    border: 3px solid white;
    margin-right: 10px;
    color: white;
    opacity: 1;
}

.btn_one:hover {
    opacity: 0.6;
    background: #7e0019;
}


.pereclad_intro_ukr {
    opacity: 0.6;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
}

.pereclad_intro_ru {
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
}

.header_nav_two, .header_menu {
    width: 100%;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid silver;
}

.nav_link_zero a {
    padding: 0 8px;
    font-size: 14px;
    font-weight: 800;
    color: black;
    opacity: 1;
}

.nav_link_two a {
    padding: 0 8px;
    font-size: 14px;
    font-weight: 800;
    color: #7e0019;
    opacity: 1;
}

.nav_link_zero:hover {
    opacity: 0.6;
}

/*--------------HEADER----------*/

/*--------------covid and statistics----------*/
.covid {
    width: 1300px;
    margin: 0 auto;
}

.covid_text {
    text-transform: uppercase;
    color: #7e0019;

}

.statistics {
    width: 100%;
    height: 75px;
    margin-top: 10px;
}

.conteiner {
    width: 1300px;
    height: 75px;
    margin: 0 auto;

}

.ststistics_wrapper {
    display: flex;
    justify-content: space-between;
}

.statistics_covid {
    width: 24%;
    height: 75px;
    padding: 13px 12px;
    border: 1px solid silver;
}

.statistics_covid_photo {
    width: 100px;
    height: 30px;
}

.statistics_covid_text {
    font-size: 28px;
    font-weight: bold;
    font-family: "Fira Sans", sans-serif;
}

.statistics_covid_intro_text {
    text-transform: uppercase;
    font-size: 10px;
}

.statistics_link {
    color: black;
}

.statistics_covid_text_one {
    color: #7e0019;
}

.ststistics_wrapper:hover {
    color: #7e0019;
}

/*--------------covid and statistics----------*/
.infa {
    width: 1300px;
    margin: 0 auto;
    padding-top: 15px;
}

.infa a {
    color: black;
    font-size: 13px;
    font-weight: 200;
}

.infa_one {
    width: 1300px;
    margin: 0 auto;
    padding: 20px 0;
}

.infa_one a {
    color: #7e0019;
    font-size: 13px;
    text-transform: uppercase;
}

.main {
    width: 100%;
    height: 5250px;

}

.conteiner_main {
    width: 1300px;
    height: 5250px;
    margin: 0 auto;
}

.main_infa {
    width: 100%;
    height: 510px;

    display: flex;
    justify-content: space-between;
}

.main_infa_wrapper {
    width: 49%;
    height: 510px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main_infa_wrapper_golovna {
    width: 49%;
    height: 253px;
}

.main_photo {
    width: 300px;
    height: 168px;
}

.main_linka {
    color: black;
    font-weight: 600;
    font-size: 13px;
}

.main_linka:hover {
    color: #7e0019;
}

.main_infa_wrapper_golovna_linka {
    border-top: 1px solid silver;
    border-bottom: 1px solid silver;
    padding: 10px 0;
}

.main_infa_wrapper_golovna_linka_one {
    border-bottom: 1px solid silver;
    padding: 10px 0;
}

.main_infa_wrapper_golovna_linka_two {
    padding: 10px 0;
}

.main_infa_wrapper_golovna_text {
    font-size: 13px;
    color: #7e0019;
}

.main_infa_wrapper_photo {
    width: 637px;
    height: 350px;

}

.main_position {
    width: 637px;
    height: 350px;
    position: relative;
}

.main_infa_wrapper_text {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 15px;
    color: white;
}

.main_infa_wrapper_conteiner {
    color: black;
}

.main_infa_wrapper_conteiner_title {
    font-size: 25px;

}

.main_infa_wrapper_conteiner_tx {
    opacity: 0.7;
    text-transform: uppercase;
    font-size: 12px;
}

.main_position a {
    color: black;
}

.main_position a:hover {
    color: #7e0019;
}

.main_news {
    width: 324px;
    min-height: 3240px;
}

.main_news_conteiner_one {
    width: 300px;
    height: 60px;
    padding-top: 20px;
    border-top: 1px solid #7e0019;
}

.main_news_link {
    color: #7e0019;
    font-size: 13px;
    font-weight: 600;
}

.main_news_conteiner {
    width: 300px;
    min-height: 64px;
    border-bottom: 1px solid red;
}

.news_hour {
    font-size: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.news_hour_link {
    color: black;
    font-size: 13px;
}

.main_news_conteiner_zero {
    width: 300px;
    height: 64px;
}

.pro {
    color: #7e0019;
    text-transform: uppercase;
}

.pro_intro {
    padding-top: 10px;
}

.news_hour_link:hover {
    color: #7e0019;
}

.conteiner_main_two {
    width: 100%;
    min-height: 3240px;
    display: flex;
}

.main_sub {
    width: 648px;
    height: 3240px;
    border-top: 1px solid #7e0019;
}

.main_sub_conteiner_one {
    width: 100%;
    height: 60px;
    padding-top: 15px;
}

.main_sub_conteiner {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-between;
}

.main_sub_top {
    width: 48%;
    max-height: 300px;
    background: white;
}

.main_sub_photo {
    width: 311px;
}

.main_sub_link {
    color: black;
    font-weight: 600;
}

.main_sub_link .main_sub_top_conteiner:hover {
    color: #7e0019;
}

.main_sub_text {
    padding-top: 10px;
    font-weight: 100;
    font-size: 12px;
    opacity: 0.6;
    text-transform: uppercase;
}

.main_sub_reklama {
    width: 100%;
    height: 240px;
}

.main_sub_infa {
    width: 100%;
    height: 215px;
}

.main_sub_infa_conteiner {
    width: 100%;
    height: 180px;
    display: flex;
}

.main_sub_infa_promova {
    width: 100%;
    height: 180px;
    display: flex;
}

.main_sub_photo_two {
    width: 321px;
}

.main_sub_infa_text {
    width: 50%;
    height: 180px;
}

.box {
    width: 100%;
    height: 180px;
    padding-left: 10px;
}

.main_sub_infa_title {
    color: black;
    font-size: 12px;
    padding-top: 20px;
    padding-bottom: 5px;
}

.main_sub_infa_center {
    font-weight: 700;
    color: blue;
}

.main_sub_infa_center:hover {
    color: #7e0019;
}

.main_sub_infa_footer {
    font-weight: 200;
    font-size: 12px;
    opacity: 0.7;
    text-transform: uppercase;
}

.main_sub_box {
    width: 100%;
    height: 520px;
    background: white;

}

.main_sub_box_wrapper {
    font-size: 25px;
    font-weight: 600;
    color: black;
    padding-bottom: 10px;
}

.main_sub_box_photo {
    width: 100%;
}

.main_sub_box_linka .main_sub_box_wrapper:hover {
    color: #7e0019;
}

.main_sub_box_footer {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 300;
    opacity: 0.6;
}

.main_perehid a {
    color: #7e0019;
    opacity: 0.7;
}

.main_perehid a:hover {
    color: #a5243f;
    opacity: 1;
}

/*--------------baner----------*/
.baner {
    width: 100%;
    height: 480px;
    padding-top: 20px;
}

.baner img {
    width: 100%;
}
/*--------------kolonku----------*/
.kolonku{
    width: 100%;
    height: 530px;
    display: flex;
    justify-content: space-between;
}
.kolonku_one{
    width: 74%;
    height: 530px;

}

.kolonku_title{
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    border-top: #900022 1px solid;
    padding: 15px 0;
}
.kolonku_title a{
    color: #900022;
}
.kolonku_box{
    width: 100%;
    height: 473px;

}
.kolonku_wraper{
    width: 100%;
    height: 208px;
    margin-bottom: 19px;
    display: flex;
    justify-content: space-between;
}
.kolonku_item{
    width:64%;
    height: 208px;
    background: silver;
    padding: 20px 12px 5px 5px;
}
.kolonku_items{
    width:34% ;
    height: 208px;
    background: silver;
    padding: 20px 12px 5px 5px;
}
.kolonku_wrap{
    width: 100%;
    height: 208px;
    margin-bottom: 24px;
    display: flex;
}
.kolonku_itemsu{
    width: 298.5px;
    background: silver;
    margin-right: 19px;
    padding: 20px 12px 5px 5px;
}
.kolonku_itemsu:last-child{
    margin-right: 0;
    width: 327px;
}
.kolonku_text{
    padding-bottom: 30px;
}
.kolonku_text a{
    font-size: 20px;
    font-weight: 600;
}

.kolonku_text1{
    padding-bottom: 70px;

}
.kolonku_text1 a{
    font-size: 15px;
    font-weight: 600;
}
.kolonku_pro{
    display: flex;
    align-items: center;
}
.kolonku_pro img{
    width: 80px;
    border-radius: 50%;
}
.kolonku_pro1{
    display: flex;
    align-items: center;
}
.kolonku_pro1 img {
    width: 40px;
    border-radius: 50%;
}
.kolonku_name{
    padding-left: 20px;
    color: #900022;
}
.kolonku_name span{
    font-size: 13px;
    text-transform: none;
    color: #888;
    font-weight: 300;
}
.kolonku_name1{
    padding-left: 20px;
    font-size: 14px;
    color: #900022;
}
.kolonku_name1 span{
    font-size: 13px;
    text-transform: none;
    color: #888;
    font-weight: 300;
}
.kolonku_pro1_photo{
    display: flex;
    align-items: flex-end;
}
.kolonku_two{
    width: 24%;
    height: 530px;
}
.kolonku_two_header{
    width: 100%;
    height: 208px;
    background: silver;
    margin-bottom: 19px;
    padding: 20px 12px 5px 5px;
}
.kolonku_two_footer{
    width: 100%;
    height: 218px;
    background: silver;
    padding: 20px 12px 5px 5px;
}

/*--------------project----------*/
.project{
    width: 100%;
    height: 430px;
    background:white;
    margin-bottom: 55px;
}
.project_title{
    width: 100%;
    height: 53px;
    border-top: 3px solid black;
    padding: 15px 0;
    color: #900022;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}
.project_wraper{
    width: 100%;
    height:377px;
    display: flex;
    justify-content: space-between;
}
.project_items{
    width:31.9%;
    height: 100%;
    background: silver;
}
.project_items__wrap{
    width: 100%;
    height: 100%;
}
.project_items_photo img{
    width: 100%;
}
.project_items_text{
    font-weight: 600;
    font-size: 20px;
    padding: 5px 12px 20px 12px;
}

.project_items_link:hover{
    color: #7e0019;
}
.project_items_footer{
    color: #7e0019;
    padding-left: 12px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 300;
}
.project_items_text_one{
    font-weight: 600;
    font-size: 20px;
    padding: 5px 12px 10px 12px;
}
/*--------------conteiner_video----------*/
.conteiner_video{
    width: 1440px;
    height: 835px;
    background: #3b3b3e;
    padding-bottom: 30px;
}
.wraper_video{
    width: 1300px;
    height: 752px;
    margin: 0 auto;
}
.video_title {
    background: black;
    width: 100%;
    height: 58px;
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 18px 0;
}
.video_title a{
    color: white;
    opacity: 1;
}
.video_title a:hover{
    opacity: 0.7;
}
.video_infa{
    width: 100%;
    height: 444px;
    background: #6d08d2;
    display: flex;
}
.video{
    width: 754px;
    height: 424px;
    background: #7e0019;
}
.video__wraper_text{
    width: 546px;
    background: #060e58;
}
.video_text{
    width: 546px;
    height: 424px;
    background: red;
}
.video_text_title{
    padding-left: 32px;
    font-size: 30px;
    font-weight: 700;
}
.video_text_title a{
    color: #fff;
    opacity: 1;
}
.video_text_title a:hover{
    opacity: 0.7;
}
.video_list_wraper{
    width: 100%;
    height: 250px;
   display: flex;

}
.video_list{
    width: 760px;
    height: 250px;
    padding: 12px;
    border-right: 1px solid silver;
}
.video_list:last-child{
    border-right: none;
}
.video_list_items{
    width: 100%;
    height: 225px;
}
.video_list_items img{
    width: 100%;
}
.video_list_text{
    font-size: 13px;
    color: #fff;
    font-weight: 600;
    padding: 10px 0;
}
.video_list_obgort{
    position: relative;
}
.kolo{
    position: absolute;
    left: 10px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #7e0019;
    z-index: 2;
}
/*--------------conteiner_audio----------*/
.conteiner_audio{
    width: 100%;
    height: 340px;
    background: silver;
    margin-bottom: 65px;
    padding-bottom: 40px;
    padding-top: 55px;
}
.audio_wraper{
    width: 1300px;
    height: 245px;
    margin: 0 auto;
}
.audio_box{
    width: 100%;
    height:245px;
}
.audio_title{
    height: 59px;
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 18px 0;
    border-top: #900022 1px solid;
}
.audio_title a{
color: #7e0019;
}
.audio{
    width: 100%;
    height: 186px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.audio_items{
    padding: 0 12px 24px 0;
    width: 24%;
    border-right: #e3e3e3 1px solid;
    display: flex;
}
.audio_iconka{
    width: 50px;
    height: 100%;

}
.audio_content{
    width: calc(100% - 50px);
    height: 100%;
    padding-left: 10px;
}
.audio_content_title{
    font-size: 13px;
    text-transform: uppercase;
    color: #111;
    padding-bottom: 4px;
}
.audio_content_text{
    font-size: 16px;
    font-weight: 600;
}
.zvyk{
    width: 100%;
    height: 50px;
    border-radius: 50%;
    background: #6d08d2;
}
.audio_items:last-child{
    border-right: none;
}
/*--------------reklama----------*/
.reklama{
    width: 100%;
    height: 240px;
    background: #6d08d2;
}
/*--------------popular----------*/
.popular{
    width: 1300px;
    height: 350px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.popular_title{
    width: 100%;
    height: 53px;
    font-weight: 800;
    font-size: 22px;
    padding: 15px 0;
    border-top: 1px solid red;
    text-transform: uppercase;
    color: #900022;
}
.popular_box{
    width: 100%;
    height: 297px;

}
.popular_header{
    width:100%;
    height: 140px;
    display: flex;
    border-bottom: 1px solid silver;
}
.popular_item{
    width: 50%;
    height: 140px;
}
.popular_item_content{
    width: 100%;
    height: 120px;
padding: 0 20px 0 0;
    border-right: 1px solid silver;
}
.popular_item_number{
    font-size: 40px;
    font-weight: 800;
}
.popular_item_text{
    font-size: 1.55em;
    padding-top: 5px;
}
.popular_item_one{
    width: 25%;
    height: 140px;

}
.popular_item_one_wrap{
    width: 100%;
    height: 120px;
    padding-left:10px;
    border-right: 1px solid silver;
}
.popular_item_one_wrap_number{
    font-size: 34px;
    font-weight: 800;
}
.popular_item_one_wrap_text{
    font-size: 19px;
    padding-top: 5px;
}
.popular_footer{
    width: 100%;
    height: 140px;
    margin-top: 17px;
}
.popular_footer_box{
    width: 100%;
    height: 100px;
    background: white;
    display: flex;
}
.popular_footer_item{
    width: 25%;
    height: 100%;
}
.popular_footer_item_wrap{
    width: 100%;
    height: 100%;
    padding-right: 10px;
    border-right: 1px solid silver;
}
.popular_footer_number{
    width: 100%;
    font-size:28px;
    font-weight: 800;
    text-transform: uppercase;
}
.popular_footer_text{
    font-size: 18px;
    padding: 4px 0;
}
.popular_footer_items{
    width: 25%;
    height: 100%;

}
.popular_footer_item_wrap_one{
    width: 100%;
    height: 100%;
    padding-left: 10px;
    border-right: 1px solid silver;
}
/*--------------fon----------*/
.conteiner_fon{
    width: 100%;
    height: 540px;
    position: relative;

}
.conteiner_fon img{
    width: 100%;
}
.fon_title{
    width: 1300px;
    height: 52px;
    position:absolute;
    z-index: 2;
    left: 70px;
    top: 0;
    padding:15px 0 ;
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    color: white;
}
.fon_text{
    width: 1300px;
    height: 125px;
    color: white;
    position:absolute;
    z-index: 2;
    left: 70px;
    bottom: 40px;
    font-size: 50px;
    font-weight: 800;
    padding: 5px 0;
}
.fon_botton{
    display: inline-block;
    background: #a5243f;
    color: white;
    position:absolute;
    z-index: 2;
    left: 70px;
    bottom: 160px;
    text-transform: uppercase;
    font-size:10px ;
}

/*--------------informetion----------*/
.conteiner_informetion{
    width: 1300px;
    height: 470px;
    margin: 25px auto 0 auto;
    display: flex;
    justify-content: space-between;
}
.informetion_items{
    width: 638px;
    height: 450px;
}
.informetion_box{
    width: 100%;
    height: 450px;
}
.informetion_img{
    position: relative;
}
.informetion_img img{
    width: 100%;
}
.informetion_text{
    width: 100%;
    font-size: 30px;
    font-weight: 800;
    padding: 10px 0;
    text-transform: lowercase;
}
.informetion_bottom{
    display: inline-block;
    background: #a5243f;
    color: white;
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 2;
    text-transform: uppercase;
    font-size: 10px;
}
.informetion_box a:hover{
    color: #a5243f;
}
.informetion_text span{
    text-transform: uppercase;
}
/*--------------sub----------*/
.sub{
    width: 1300px;
    height: 140px;
    margin: 0 auto 25px auto;
    padding: 25px 0;
    border-top: 1px solid red;
    display: flex;
}
.sub_item{
    width: 33.3333%;
    height: 100%;
    border-right: 1px solid red;
    display: flex;
}
.sub_item_photo{
    width: 159px;
    height: 100%;
}
.sub_item_photo img{
    height: 89px;
}
.sub_item_text{
    font-size: 18px;
    padding-left: 12px;
    font-weight: 600;
}
.sub_items{
    width: 33.3333%;
    height: 100%;
    border-right: 1px solid red;
    display: flex;
    padding-left: 12px;
}
.sub_items:last-child{
    border-right: none;
}
/*--------------tablo_id----------*/
.tablo_id{
    width: 100%;
    height: 360px;
    background: red;
    padding-bottom: 30px;
    margin-bottom:55px ;
}
.tablo_id_title{
    width: 1300px;
    height: 60px;
    padding: 18px 0;
    margin: 0 auto;
font-size: 22px;
    font-weight: 800;
}
.tablo_id_title a{
    color: white;
    opacity: 1;
}
.tablo_id_title a:hover{
    opacity: 0.7;
}
.tablo_id_box{
    width: 1300px;
    height: 268px;
    margin: 0 auto;
    display: flex;

}
.tablo_id_item{
    width: 25%;
    height: 100%;
    padding-right: 12px;
    border-right:1px solid silver;
}
.tablo_id_photo{

}
.tablo_id_photo img{
    width: 100%;
    height: 179px;
}
.tablo_id_text{
font-size: 18px;
    color: white;
    font-weight: 600;
    line-height:1;
    padding-top: 5px;
}
.tablo_id_items{
    width: 25%;
    height: 100%;
    padding-right: 12px;
    padding-left: 12px;
    border-right:1px solid silver;
}
.tablo_id_items:last-child{
    padding-right: 0;
    border-right: none;
}
/*--------------life----------*/
.conteiner_life{
    width: 1324px;
    height: 440px;
    margin: 0 auto 45px auto;
}
.life_title{
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 15px 0;
    margin: 0 12px;
    border-top: #900022 1px solid;
}
.life_content{
    width: 100%;
    height: 270px;
    display: flex;
}
.life_item{
    width: 25%;
    height: 100%;
    padding: 0 12px;
    border-right: 1px solid silver;
}
.life_item:last-child{
    border-right: none;
}
.life_photo img{
    width: 100%;
}
.life_text_title{
    font-size: 20px;
    font-weight: 600;
    padding: 5px 0 5px 0;
    line-height: 1.1em;
}
.life_text_title a{
    text-transform: lowercase;
}
.life_text_title span{
    text-transform: uppercase;
}
.life_psevdo{
    text-transform: uppercase;
    color: #888;
    line-height: 1.1em;
    font-weight: 300;
    font-size: 12px;
}
.linia{
    width:1300px;
    height: 40px;
    margin: 0 auto;

}
.linia_one{
    padding-top: 20px;
    border-bottom: 1px solid silver;
}
.life_footer{
    width: 100%;
    height: 73px;
    display: flex;
}

.life_footer_item{
    width: 25%;
    height: 100%;
    padding: 0 12px;
    border-right: 1px solid silver;
}
.life_footer_item:last-child{
    border-right: none;
}
.life_footer_item a{
    font-size: 14px;
}
.life_footer_item a:hover{
    color: #900022;
}
/*--------------history----------*/
.history{
    width: 1324px;
    height: 174px;
    margin: 0 auto 45px auto;
}
.history_title{
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 15px 0;
    margin: 0 12px;
    border-top: #900022 1px solid;
}
.history_title a{
    color: #900022;
}
.history_box{
    width: 100%;
    height: 117px;
    display: flex;
}
.history_item {
    width: 25%;
    height: 100%;
    padding: 0 12px;
    border-right: 1px solid silver;
}
.history_text_title{
    font-size: 17px;
    font-weight: 600;
    padding: 5px 0 5px 0;
    line-height: 1.1em;
}
.history_text_title a{
    text-transform: lowercase;
}
.history_text_title span{
    text-transform: uppercase;
}

.history_one{
    width: 1324px;
    height: 131px;
    margin: 0 auto 45px auto;
}
.history_title_one{
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 15px 0;
    margin: 0 12px;
    border-top: #900022 1px solid;
}
.history_title_one a{
    color: #900022;
}
.history_box_one{
    width: 100%;
    height: 74px;
    display: flex;
}
.history_two{
    width: 1324px;
    height: 142px;
    margin: 0 auto 45px auto;
}
.history_title_two{
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 15px 0;
    margin: 0 12px;
    border-top: #900022 1px solid;
}
.history_title_two a{
    color: #900022;
}
.history_box_two{
    width: 100%;
    height: 85px;
    display: flex;
}
.history_item:last-child{
    border-right: none;
}
/*--------------history----------*/
.footer{
    width:100%;
    height: 870px;
    background: #f4f5f7;
    margin-top: 90px;
    padding: 50px 0;
}
.footer_wraper{
    width: 1300px;
    height:870px;
    margin: 0 auto;
}
.footer_header{
    width: 100%;
    height: 113px;
    text-align: center;
}
.footer_text{
    font-size: 14px;
    text-transform: uppercase;
}
.footer_link{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
 }
.kolo_link{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #900022;
    margin: 0 5px;
}
.container_footer_nav{
    border-top: #e3e3e3 1px solid;
    border-bottom: #e3e3e3 1px solid;
    margin-top: 60px;
    padding: 20px 0;
    text-align: center;
}
.footer_menu{
    display: flex;
    justify-content: center;
    font-size: 13px;
    line-height: 1.4em;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 8px;
    overflow: hidden;
    text-align: center;
    font-weight: 600;
}

.footer_menu__item{
padding: 0 8px;
}
.footer_copy{
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
    font-weight: 300;
}
.footer_info{
    text-align: center;
    padding: 15px 0 25px 0;
    font-size: 14px;
    border-bottom: #e3e3e3 1px solid;
    font-weight: 300;
}
.footer_contacts{
    font-size: 14px;
    width: 730px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: 300;
    text-align: left;
    padding: 15px 0;
}
.footer_contacts_item{
    padding: 30px 0 30px 50px;
}
.footer_contacts_item p{
    padding: 2px 0;
}
.footer_contacts_item a{
    color: #900022;
}
.footer_lin{
    width: 100%;
    height: 35px;
    background: #6d08d2;
}
